<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JsCrud</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/all.css" />
  </head>
  <body>
    <main class="main">
      <section class="section form-area">
        <header class="header">
          <h1>Edit contact</h1>
        </header>
        <div class="main-container">
          <div class="root">

          </div>
        </div>
        <nav class="navbar">
          <a href="./../index.html" class="btn nav-link"
            ><i class="fa-solid fa-house-user"></i
          ></a>
        </nav>
      </section>
    </main>

    <script src="../js/manage.js"></script>
  </body>
</html>
