<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AddContact</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/all.css" />
  </head>
  <body>
    <main class="main">
      <section class="section form-area">
        <header class="header">
          <h1>Update Contact</h1>
        </header>
        <div class="main-container">
          <form class="form">
            <input
              required
              type="text"
              id="name"
              class="input"
              placeholder="Your name"
            />
            <input
              required
              type="tel"
              id="telephone"
              class="input"
              placeholder="Your telephone number"
            />
            <input
              required
              type="email"
              id="email"
              class="input"
              placeholder="Your email"
            />
            <input type="submit" value="Update" class="btn" />
          </form>
        </div>

        <nav class="navbar">
          <a href="../index.html" class="btn nav-link home"
            ><i class="fa-solid fa-house-user"></i
          ></a>
        </nav>
      </section>
    </main>
    <script src="../js/update.js"></script>
  </body>
</html>
